* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to bottom, #dad299, #ffffff);  */
    background-color: #fff;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: 333;
}
/* NAVBAR - CONTAINER */
.navbar {
    width: 100%;
    color: #333;
    background: linear-gradient(to top, #f2eee0, #fce09d);
    padding:1em;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
   }


  .item:nth-of-type(1) {
        flex: 1;
        width: 33%;
        margin-right: auto;
}
   .item:nth-of-type(2) {
        flex: 1;
        width: 33%;
        margin: 0 auto;
}
    .item:nth-of-type(3) {
        flex: 1;
        width: 33%;
        margin-left: auto;    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;    
    animation: nav-load 300ms ease-in;
}

/* LOGO  */
.logo a {
    padding: 1em;
}
.logo img {
    max-width: 150px;
}

/* NAVBAR LINKS */
.nav-links ul {
    display: flex;   
    font-size: .75em;
    padding: 0;
    margin: 0;
    
}
.nav-links li {
    list-style: none;
    padding: 1em;
    animation: nav-load 300ms ease-in;
}

.nav-links li a {
    text-decoration: none;
    color: #333;  
    font-size: 1.05em;
    font-weight: bold;
    letter-spacing: .3em;
}
.navbar li:hover {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: 250ms ease-in-out;
}
.cart {
    color: #333;
    margin-right: 3em;
    display: flex;
    justify-content: flex-end;
    
}


/* HAMBURGER MENU */

.toggle-button {
    position: absolute;
    top: 5rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
}


@media (max-width: 767px) {

    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        font-size: 2em;
        margin: 0 auto;
    } 
    .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    animation: nav-load 300ms ease-in;
    }
    .cart {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 2em;
    }
    .logo img {
        width: 135px;
        justify-self: flex-start;
    }
    .navbar {
        margin: 0;
        padding: 0;
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;

    }
    .nav-links li {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .nav-links.active {
        display: flex;
        text-align: center;
    
    }
    .item:nth-of-type(1){
        order:3
        
    }
    .item:nth-of-type(3){
        position: absolute;
        top: 2;
        right: 0;
        top: 49px;
        
    }
    }
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        font-size: 2em;
        
    } 

    .logo img {
        width: 130px;
    }
    .navbar {
        flex-direction: column;
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav-links li {
        text-align: center;
    }

    .nav-links.active {
        display: flex;
        min-height: 100vh;
        transition: all 200ms;
    }
    .item:nth-of-type(1){
        order:3
    }
    .cart {
        top: 49px;
    }
    }
@media (max-width: 340px) {
    .item:nth-of-type(3){
        position: absolute;
        right: 0;
        top: 49px;
        padding-right: 0;
    }
}