
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: 333;
    overflow-x: hidden;
    background-color: #dfd9d9;
}
/* NAVBAR - CONTAINER */
.mainImg {
    background-image: url("./DONNA/productJar.avif");
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    opacity: .9;
    position: relative;
}
.headings {
    font-family: cursive ;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 400;
}
.headers h2, h3, h5 {
    padding-bottom: 1em;
  
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:  0 2em;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;

    height: 150px;
   }

.active-page {
    border-bottom: 3px solid #fff;
}
.item:nth-of-type(1) {
    flex: 1 1 0;
}
.item:nth-of-type(2) {
    flex: 1 1 0;
    
}
.item:nth-of-type(3) {
    flex: 1 1 0;   
}
.item:nth-of-type(4) {
    flex: 1 1 0;   
}



#logo a {
    padding: 1em;
}
#logo img {
    max-width: 130px;
}

.nav-links {
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
}
.nav-links ul {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    
}
.nav-links li {
    list-style: none;
    padding: 0 5px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;  
}
.nav-links li:hover #menu-sub{
    display: flex;
}

.cart {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    width: 30px;
}
#cart:hover {
    transform: scale(1.5);
    transition: 250ms;
}


/* NAV UNDERLINE ANIMATION */
.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all .5s;
}
.navbar.stroke ul li a{
  position: relative;
}
.navbar.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
.navbar.stroke ul li a:hover:after {
  width: 100%;

}



/* HAMBURGER MENU FOR SMALL SCREENS*/

.whatwedo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 60px;
}
.maincontent {
    width: 100%;
    padding: 25px 45px;
    text-align: center;
}
.maincontent h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 25px;
}
.maincontent p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 15px 0;
}
.imgb {
    background-image: url("./DONNA/productsshelf.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.imgb1 {
    background-image: url("./DONNA/low-carb-sugar-free-strawberry-jelly-9-600x400.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.imgb2 {
    background-image: url("./DONNA/apricot\ breakfast.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.sub-content1 {
    color: #333;
    display: flex;
    padding: 60px 30px;
    margin-bottom: 40px;
}
.sub-content1 h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.sub-content1 p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.sub-content2 {
    color: #333;

}
.sub-content2 {
    color: #fff;
    display: flex;
    padding: 60px 30px;
}
.sub-content2 h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.sub-content2 p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.sub-content2 {
    color: #333;

}
/* FOOTER */

footer {
    background: linear-gradient(to bottom, #dfd9d9, #3f6068);
    margin: 20px 0;
    padding: 70px;
    color: #333;
   
}


.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .85em;
    margin: 2em 0;
    padding: 6em 0;
    
}

.bottom-nav ul {
    display: flex;
    flex-direction: column;
}
.bottom-nav li{
    list-style: none;
    letter-spacing: .3em;
    display: flex;
    justify-content: center;
    animation: 1s ease-in 0s grow ;
}
.bottom-nav li a {
    color: #333;
    text-decoration: none;
}
.bottom-nav {
    width: 33%;
}
.icons {
   display: block;
   margin: 0 auto; 
}

.foot {
    text-align: center;
    width: 33%;
}
.copytext {
    position: relative;
    text-align: center;
    padding: 100px 0 80px 0;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: bold;
}

.fa {
    padding: 5px;
    width: 31px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #bb0000;
    color: white;
}
    
 
@media (max-width: 967px) {
    .headings {
        position: absolute;
        top: 50%;
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        font-weight: 400;
    }
    .active-page {
        border: 0;
    }
    .cart {
        color: #fff;
    }
     .container {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 120px;
         max-width: 100%;
         width: 100%;
         margin: 0 auto;
         position: absolute;
         top: 2em;
     }
     .navbar {
         margin: 0;
         padding:0;    
         position:absolute;   
     }

     .cart {
         margin: 0 25px;
     }
     #logo {
         position: absolute;
     }
     #logo img {
         width: 115px;
         justify-self: flex-start;
     }
     .nav-links {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         position: fixed;
         top: 0;
         left: -300px;
         height: 100vh;
         width: 300px;
         z-index: 1;
         background-color: #e4e4e4;
         box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
         padding: 80px 20px 0 0;
         transition:  250ms ease-in-out;
     }
     .nav-links.active {
         left: 0;
     }
     .nav-links li {
         margin: 0;
         font-size: 1.5em;
         width: 100%;
         display: flex;
         align-items: center;
         
     }
     .nav-links li a {
         color: #333;
         margin: 0 auto;
         align-items: center;
     }   
     
     .nav-links ul {
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         height: 100vh;
         width: 100%;
         margin: 0 auto;
     }
     .hamburger {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        z-index: 999;
        top: 54px;
        left: 25px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        background-color: #333;
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: #333;
      }
      
     
         }
 @media (max-width: 600px) {
    .mainImg {
        background-repeat: no-repeat;
        background-position:  -300px 0;
        background-size: 100vh;
    }
    .whatwedo-box {
        margin: 0;
    }
    .imgb {
        margin: 0;
        width: 100%;
    }
     .navbar {
        width: 100%;
         padding: 0;
         margin: 0 auto;
    
         
     }
     .toggle-button {
         top: 6.3%;
         left: 2rem;
     }
     #logo {
         margin-left: 19px;
     }
     #logo a{
         padding: 0;
     }
     
     .item:nth-of-type(3){
         flex: 0 1 1;
     }
     .nav-links.active {
         left: 0;
     }
     .nav-links li {
         margin-bottom: 25px;
     }
     .nav-links li a {
         color: #333;
     }   
     
     .nav-links ul {
         flex-direction: column;
     }
     .ptext1, .ptext {
         font-size: 1em;
         letter-spacing: normal;
         font-weight: bold;
     }
     .ptext1.fade-in {
         top: 50%;
     }
     .section h2 {
         font-size: 2em;
         width: 100%;
     }
     .section p {
         font-size: 1.1em;
     }

         .wrapper {
             font-size: .9em;
             margin: 0;
             padding: .5em;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
         .copytext {
             font-size: .9em;
             margin: 1.5em;
         }
         .bottom-nav {
             margin: 1.5em;
             padding: 1em;
             font-size: .6em;
             text-align: center;
         }
         .foot {
             width: 130px;
         }

}
@media (max-width: 365px) {
 .cart {
     margin: 0;
 }
}               
@keyframes nav-log {
     0% {
        transform: translateY(-100%); 
     }
     100% {
         transform: translateY(0);
     }
    }


 
